*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;
    
}
.head{
    text-align: center;
    margin-top: 20px;

}
.head h1{
    text-transform: uppercase;
    font-size: 32px;

}
.head p{
    font-size: 18px;
    text-transform: capitalize;

}

/*-----------------------inputs--------*/

.inputs{
    

}
input{
    width: 100%;
    border: none;
    outline: none;
    height: 30px;
    background-color: #181717;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
input:focus{
    background-color: black;
    transform: scale(1.1);
}
.prices input{
    width: 20%;

}
#total{
    background-color: rgb(167, 19, 19);
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: "total : ";
}
button{
    width: 100%;
    border: none;
    height: 30px;
    cursor: pointer;
    background-color: purple;
    color: #fff;
    border-radius: 20px;
}
button:hover{
    background-color: palevioletred;
    letter-spacing: 1px;
    transition: 0.5s;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
    
}
.btnsearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}


#deleteall{
    margin: 10px 0;
}